*.tar*
deploy/*.yaml

data.json

# docs/slidev/dist
# docs/slidev/dist/*

.ipynb_checkpoints/
.ipynb_checkpoints/*

analysis/data
analysis/data/
analysis/data/*
analysis/graphs/*

!analysis/archive/*.tar*

# analysis/plot
# analysis/plot/
# analysis/plot/*

*.csv 
*.plan 

*.log 
*.aux
*.bbl 
*.blg 

build/*
bin/*
lib/dpdk/*
lib/iouring/*
lib/zeromq/*
lib/cppzmq/*

__pycache__
__pycache__/*
.venv
.venv/*

.cache/
.cache/*

volume/*
infra/terra/docker/modules/default/volume/*

*.tfstate*
*.terraform/
*.terraform/*
*.terraform.*

extract/
extract/*

output-box/
output-box/*

.vagrant/
.vagrant/*

package.json
package-lock.json
node_modules
node_modules/
node_modules/*
