*.tar*

deploy/*.yaml

*.log 
*.aux
*.bbl 
*.blg 

build/*
bin/*
lib/dpdk/*
lib/iouring/*
lib/zeromq/*
lib/cppzmq/*

__pycache__
__pycache__/*
.venv
.venv/*

.cache/
.cache/*

*.tfstate*
*.terraform/
*.terraform/*
*.terraform.*

extract/
extract/*
